.App {
  background: linear-gradient(to bottom, #105013, #032a54);
  text-align: center;
  height: 1080px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("/images/mzr4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eceee3;
}

.App-link {
  color: #0e4581;
}

/* BodyComponent.css */
.body {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}


body {
  margin: 0;
  font-family: 'Jockey One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Jockey One'
    monospace;
} 

.path {
  animation: pathAnimation 2s ease;
  background-color: #fd439f;
}
@keyframes pathAnimation {
  0% {
    background-color: #137fd9;

  }
  50% {
    background-color: #fd439f;
  }
  100% {
    background-color: #fd439f;
  }
}