  .body {
    font-family: 'harry', sans-serif;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px; /* Espaço entre os blocos, ajuste conforme necessário */
    height: 635px;
  }
  .GryffindorG{
    background-color: #740001;
    font-size: 23.7px;
    display:grid;
    justify-items: center;
  }
  .SlytherinG{
    background-color: #1a472a;
    font-size: 23.7px;
    display:grid;
    justify-items: center;
  }
  .RavenclawG{
    background-color: #0e1a40;
    font-size: 23.7px;
    display:grid;
    justify-items: center;
  }
  .HufflepuffG{
    background-color: #ecb939;
    font-size: 23.7px;
    display:grid;
    justify-items: center;
  }
 
  .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p{
    height: 24px;
  }
  