  .body {
    font-family: 'harry', sans-serif;
    background-image: url('../public/midia/fundo-participantes.jpg');
    background-size: cover;
    background-position: center;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
  }
  .contents{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .gerar{
    margin-bottom: 10px;
    height: 80px;
    border-radius: 70px;
    width: 200px;
    font-family: 'harry', sans-serif;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(39, 35, 35);
    color: azure;
  }

  .voltar{
    margin-top: 7px;
    height: 80px;
    border-radius: 70px;
    width: 200px;
    font-family: 'harry', sans-serif;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(39, 35, 35);
    color: azure;
  }

  .bottom-content{display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    }

  .voltar:hover{
    background-image: url('../public/midia/hogg.png');
    background-size: cover;
    background-position: center; 
  }


  