body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'harry';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('../public/fonts/harry_p/harryp.TTF') format('TTF'); /* Substitua 'sua-fonte.woff' pelo nome do seu arquivo de fonte */
  /* Adicione formatos adicionais se necessário (eot, ttf, etc.) */
}